{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container mt-2">
    <h1 class="mb-4">Products</h1>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ product.image }}" class="card-img-top" alt="{{ product.title }}" title="{{ product.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="text-primary">{{ product.price }} €</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}